:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    /* padding: 2rem; */
}

.header_content{
    /* max-width: 1280px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* background-color: aqua; */
}

.logo_icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}
.logo_txt:active, .logo_icon:active{
    text-shadow: 0px 0px 30px #333333;
}
.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width: 768px){
    .nav{
        display: flex;
    }
    
}


.nav_link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav_link:active{
    text-shadow: 0px 0px 20px #718096;
}
.nav_link:hover{
    color: var(--link-color);
}
.contact_button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .contact_button{
        display: block;
    }
}

.contact_button:hover{
    background-color: #5254f8;
}
.contact_button:active{
    box-shadow: 0px 0px 20px #5254f8;
}

.menu_button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.9rem;

}
@media screen and (max-width:768px) {
    .menu_button{
        display: block;
    }
    .header_content{
        justify-content: space-between;
        padding: 0rem 0.5em;
    }
}
.menu_icon{
    height: 1.5rem;
    width: 1.5rem;
}

/* main section */

.main_section{
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.content_left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}

@keyframes slidefromleft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.section_lable{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section_title{
    font-size: 2.3rem;
    padding: 1rem;
}

.section_desc{
    color: var(--gray);
    font-size: 1.13rem;
}

.button_group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.main_btn{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}



#tour_button{
    background-color: var(--dark-gray);
}

#start_button:hover{
    background-color: #5254f8;
}

#tour_button:hover{
    background-color: var(--gray);
}

.content_right{
    display: flex;
    align-items: center;
    justify-content: center;

}

.img_con{
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 60vh;
}

.section_img{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main_section{
        flex-direction: row;
    }
    .content_left{
        max-width: 50%;
        text-align: left;
    }
    .section_title{
        padding: 0.5rem 1.1rem 1.1rem 0rem;
        font-size: 3rem;
    }
    .button_group{
        justify-content: start;
        padding-left: 0;
    }
    .section_lable{
        font-size: 1rem;
    }
    .img_con{
        height: 65vh;
    }
    .section_desc{
        font-size: 1rem;
        color: var(--gray);
        width: 75%;
        padding: 1rem 0;
    }
}

.comp_con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slidefromleft 1s ease forwards;
}

.comp_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 2rem;
}

.comp_logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.svg_img{
    height: 1.56rem;
    opacity: 0.5;
}

.logo_text{
    font-size: 1rem;
}

@media screen and (min-width:640px) {
    .comp_grid{
        grid-template-columns: repeat(4,1fr);
    }
}

.feature_con{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;

}

.feature_content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main_title{
    font-size: 2.2rem;
}

.main_desc{
    color: var(--gray);
    font-size: 1rem;
}
.feature_grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.3rem;
}

.icon_con{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.feature_svg{
    width: 1.5rem;
    height: 1.5rem;
}

.feature_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 127, 255);
    gap: 1rem;
    padding: 1.6rem;
    border-radius: 1rem;
}

.feature_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature_title{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.feature_desc{
    color: white;
}

.feature_card:nth-child(1){
    background-color: #4a90e2;
}
.feature_card:nth-child(2){
    background-color: #ff6289;
}
.feature_card:nth-child(3){
    background-color: #fcbf58;
}
.feature_card:nth-child(4){
    background-color: #44bfc3;
}
.feature_card:nth-child(5){
    background-color: #77b05d;
}
.feature_card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width:768px) {
    .feature_grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.feature_card:hover{
    box-shadow: 1px 1px 20px var(--gray);
    .icon_con{
        box-shadow: inset 1px 1px 10px var(--gray);
    }
    .icon_con img{
        transform: scale(1.2);
    }
}


.testimonial_con{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}

.testimonial_content{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
}

.testimonial_title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.testimonial_card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(184, 173, 173);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial_card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    border: 1px solid blue;
}

.testimonial_avatar img{
    height: 5rem;
    width: 5rem;
}

.testimonial_txt{
    font-size: 0.875rem;
    color: #555;
}
.testimonial_name{
    font-size: 1rem;
    color: var(--primary-color);
}

.testimonial_desc{
    font-style: 0.875rem;
    color: #777;
}

.newsletter_con{
    background-color: var(--background-color);
    /* padding: 2rem; */
    max-width: 1280px;
    height: 35vh;
    margin: 0 auto;
}

.newsletter_content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.news_left{
    width: 50%;
    height: 100%;
    display: none;
    position: relative;
}

.news_left img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 0 0 8px;
}

.news_right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    /* width: 50%; */
}

@media screen and (min-width:640px) {
    .news_left{
        display: block;
    }
    .newsletter_con{
        padding: 2rem;
    }
}

.news_info{
    padding: 0 3rem;
}

.news_title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.news_desc{
    text-align: left;
    color: #777;
}

.news_form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}

.news_email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.news_email:focus{
    border: 2px solid;
    border-color: #2563eb;
    box-shadow: 0 0px 10px rgba(22, 56, 203, 0.3);
}

.news_send_button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.privacy_policy{
    font-size: 0.76rem;
    padding: 0 3rem;
    color: #777;
}

.news_link{
    text-decoration: underline;
    color: #2563eb;
}

@media screen and (min-width:640px) {
    .news_title{
        font-size: 2.5rem;
    }
}

.footer_con{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer_top{
    /* width: 34%; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 3rem;
}
.logo_svg{
    width: 2rem;
    height: 3rem;
}
.cmp_logo{
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 0rem; */
}
.logo_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social_icon{
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
}
.filler_txt{
    font-size: 1rem;
    color: #777;
}

.social{
    display: flex;
    gap: 0.8rem;
}

.footer_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* width: 58%; */
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer_grid_head{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.65rem;
}

ul{
    list-style-type: none;
}

.footer_link{
    color: #777;
    font-size: 0.875rem;
}

.footer_linklist{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer_copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #e5e7eb;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    /* .footer_top{
        padding-left: 5rem;
    } */
    .footer_grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer_top{
        align-items: center;
    }
    .footer_grid{
        grid-template-columns: repeat(2,1fr);
    }
}
